<div >
  <section>
    <form>
      <md-input-container>
        <label>Name</label>
        <input ng-model="admin.newStation.name">
      </md-input-container>
      <md-input-container>
        <label>hostname or ip address</label>
        <input ng-model="admin.newStation.hostname">
      </md-input-container>
      <md-button class="md-raised md-primary" ng-click="admin.add()">Add</md-button>
    </form>
  </section>


  <table>
    <tr>
      <td>Name</td>
      <td>Hostname</td>
      <td>Action</td>
    </tr>
    <tr ng-repeat="station in admin.stations">
      <td>{{station.name}}</td>
      <td>{{station.hostname}}</td>
      <td>
        <md-button class="md-raised md-primary" ng-click="remove(station)">Remove</md-button>
      </td>
    </tr>
  </table>
</div>

